.container {
  max-width: 1024px;
  margin: auto;
  margin-bottom: 60px;

  .title {
    font-size: 1.5em;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    .btnWrapper {
      display: flex;
      column-gap: 12px;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  .technology {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    h3 {
      font-size: 1.125em;
      font-weight: 500;
      margin-bottom: 10px;
    }

    span {
      display: flex;
      column-gap: 6px;
    }
  }
}

@media (max-width: 430px) {
  .container {
    .title {
    }

    .wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: unset;
      gap: 20px;

      .btnWrapper {
      }
    }

    .description {
    }

    .technology {
      h3 {
      }

      span {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}
