.sectionHeader {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 8em;
  position: relative;

  .title {
    font-weight: 600;
    font-size: clamp(1.625rem, 5vw, 2rem);
    background: linear-gradient(
      90deg,
      var(--accent-fill-two),
      var(--accent-fill-three)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .divider {
    opacity: 1;
    width: 100%;
    margin-inline-start: 1em;
  }
}
