.sectionHeader {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 8em;
  position: relative;

  .title {
    font-weight: 600;
    font-size: clamp(1.625rem, 5vw, 2rem);
  }

  .divider {
    opacity: 1;
    width: 100%;
    margin-inline-start: 1em;
  }
}
