.main {
  display: flex;
  flex-direction: column;
}

.introSection {
  width: 100vw;
  height: 100vh;
}

.projectSection,
.contactSection,
.aboutSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25em;
  width: 100%;
  padding: 4em 0;
}
