.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  max-width: 1440px;
  margin: auto;
}

.hero {
  display: flex;
  height: calc(100vh - 130px);
  margin: auto;
  align-items: center;
  padding-bottom: 10%;
}

.section {
  display: flex;
  width: 100%;
  padding-bottom: 200px;
}

@media (max-width: 430px) {
  .main {
    max-width: unset;
    padding: 0 20px;
    margin-top: 40px;
  }

  .hero {
    height: unset;
    text-align: center;
    padding-bottom: 80px;
  }

  .section {
    padding-bottom: 20px;
  }
}
