.section {
  max-width: 1440px;
  padding: 60px 0;

  .column {
    display: flex;
    flex-direction: column;
    text-align: center;

    h3 {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 16px;
    }

    .imageWrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 12px;

      img {
        border-radius: 2px;
        height: 300px;
      }
    }

    .inlineText {
      display: inline-flex;
      justify-content: center;
      column-gap: 8px;
    }

    a {
      text-decoration: underline;
    }

    .video {
      iframe {
        height: 500px;
        width: 889px;
      }
    }

    .details {
      img {
        height: 400px;
      }
    }
  }

  .row {
    display: flex;
    column-gap: 4%;

    .image {
      display: flex;
      flex-direction: column;
      row-gap: 6px;

      img {
        height: 330px;
      }

      p {
        text-align: center;
        font-size: 16px;
        font-style: italic;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .heading {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1em;
      }
    }
  }
}
