.card {
  display: flex;
  flex-direction: column;
  background-color: var(--light-one);
  width: 100%;
  height: 100%;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 10px 30px -15px var(--dark-one);
  overflow: hidden;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .image {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 100%;

    .anchor {
      position: absolute;
      width: 100%;
      height: 100%;
      color: var(--light-one);
      opacity: 0;

      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 1.5rem;
        color: var(--light-one);
        transform: translateY(-110px);
      }

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }

    .skills {
      display: flex;
      column-gap: 4px;
      list-style-type: none;
      padding: 0;
      margin: 0 0 0.75em;
      transform: translateY(40px);

      .icon {
        width: 20px;
        height: 20px;
        border: 1px solid var(--light-two);
      }
    }
  }

  &:hover {
    .overlay {
      opacity: 1;
      transform: translateY(0);
    }

    .anchor {
      opacity: 1;
      animation: fadeIn 0.7s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;

      .title {
        transform: translateY(-30px);
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
    }

    .skills {
      transform: translateY(0);
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
